.profilepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profilepage-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    border: none;
}

.profilepage-form h1 {
    font-size: 70px;
    color: #94B49F;
    font-weight: bolder;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 20px;
    top: 10px;
    /* set to the height of your navbar */
    left: 0;
    width: 100%;
    height: 60px;
    /* adjust as needed */
    justify-content: center;
    align-items: center;
}

.form-group-profile {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #94B49F;
    border-radius: 5px;
    background-color: #c5d8cc;
}

.form-group-profile h5{
text-align: left;
}

.form-group-profile label {
    margin-bottom: 5px;
} 

.user-details {
  margin-left: 10px;
}
/* profilepage.css

/* .profilepage-container {
    background-color: #FCF8E8;
    padding: 20px;
  }
  
  .profilepage-form {
    background-color: #89A68D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #profile-page-title {
    color: white;
    background-color: #94B49F;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .form-group-profile {
    margin-bottom: 20px;
  }
  
  .textfield-lab {
    font-weight: bold;
    color: black;
    text-align: left;
  }
  
  .user-details {
    color: black;
    margin-left: 10px;
  }
   */
  /* Add any additional styles or overrides here */
  
  /* Example: Style the submit button */
  /* .submit-button {
    background-color: white;
    color: #DF7861;
    border: 2px solid #DF7861;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  } */
  