.events {
    margin-top: 20px;
    background-color: #b4d1be;
    width: 800px;
    min-width: 800px;
    min-height: 450px;
    max-height: 490px;
    border:2px solid #94b49fd4;
    overflow-y: scroll;

}

/* Set the color of the tab titles */
.nav-tabs .nav-item .nav-link {
    color: #FCF8E8;
    font-size: 16px;
}

/* Set the color of the active tab title */
.nav-tabs .nav-item .nav-link.active {
    color: #94B49F;
}