.App {
    text-align: center;
    background-attachment: fixed;
    margin-top: 90px;
  }
  
  body {
    height: 100vh;
    background-color: #FCF8E8;
    font-family: 'Luckiest Guy', cursive;

  }
  
  .text {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
  }

  /* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #94B49F;
  
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #FCF8E8;
  padding: 2px;
}

/* Hide the scrollbar when not hovered */
::-webkit-scrollbar {
  width: 15px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fcf8e8c2;
}

.textfield-lab {
  color: #94B49F;
  font-size: 20px;
  font: bolder;
}
