.navbar {
    background-color: #ECB390;
    margin-bottom: 50px;
  }
  
  .navbar .navbar-nav .nav-link {
    color: #DF7861;
    font-weight: bold;
  }

  #logo-home {
    color: #DF7861;
    font-weight: bold;
    font-size: x-large; 
  }
  