#post {
  background-color: #94B49F;
  color: white;
  border-color: #94b49fd4;
  width: 700px;
  min-width: 700px;
  margin: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.participants {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .participants-content {
    background-color: #ECB390;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .reviews {
    position: fixed;
    padding: 150px;
    padding-top: 200px;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-y: scroll;
  }
  
  .reviews-content {
    background-color: #ECB390;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .post-btn {
    background-color:white;
    color:#94B49F;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
  }

  .popup-btn {
    background-color: #e49462;
    color:white;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
  }

  .comment {
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: left; 
  }
  
  /* Style the comment user */
  .comment strong {
    font-weight: bold;
  }
  
  /* Style the comment input field */
  .comment-input {
    margin-top: 15px;
  }
  
  .comment-input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
  }
  
  /* .comment-input button {
    background-color: #72ce8f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  } */
  
  /* .comment-input button:hover {
    background-color: #86ba73;
  } */

  .comment-timestamp {
    font-size: 12px; 
    color: #999; 
  }

  /* .reviews-content button {
    background-color: #72ce8f;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;

  } */

  /* .reviews-content button:hover {
    background-color: #86ba73;
  } */

  .delete-button {
    background-color: #ff0000; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #cc0000; 
  }

  

  
